In [3]:
#constants.py

_A = ['A', 'B', 'C', 'D']
_B = ['1', '2', '3', '4']
_C = [1,2,3,4]
_D = [0x1,0x2,0x3,0x4]

In [4]:
import pandas as pd

In [5]:
pd.DataFrame([_A, _B, _C, _D])

   0  1  2  3
0  A  B  C  D
1  1  2  3  4
2  1  2  3  4
3  1  2  3  4